* {
    box-sizing: border-box; 
}
h1 {
    font-family: 'Merriweather', serif;
    font-weight: 100;
    text-align: center;
    font-size: 2.5em;
    text-transform: capitalize;
}
h3 {
    font-family: 'Merriweather', serif;
    text-align: center;
    text-transform: capitalize;
}
#first {
    display: inline-block; /* children will appear horizontally next to each other */
    height: 200px;
    width: 200px;
}
p {
    margin: 0 auto; /* centers text */
    width: 500px;
    text-align: justify;
    line-height: 1.5; /* 1.5 times height of the font */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
    padding: 10px;
}
