h1 {
    font-family: 'Merriweather', serif;
    font-weight: 100;
    text-align: center;
    font-size: 2.5em;
    text-transform: capitalize;
}
h3 {
    text-align: center;
    text-transform: capitalize;
}
p {
    margin: 0 auto; /* centers text */
    width: 500px;
    text-align: justify;
    line-height: 1.5; /* 1.5 times height of the font */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
